@font-face{
    src: url(files/Roboto-Italic.ttf);
    font-family: Roboto-Italic;
}
table {
    border: 10px;
    background-color: black;
    margin: auto;
    margin-top: 50px;
    font-size: 1.8em;
    font-family: Roboto-Italic;
}
.tr{
    text-align : "center";
    background-color: white;
    height: 50px;
}
.th{
    width: 50px;
}
.th1{
    background-color: hsl(55, 96%, 78%);
}
.th2{
    background-color: hsl(49, 89%, 50%);
}
.th3{
    background-color: hsl(33, 100%, 50%);
}
.th4{
    background-color: hsl(332, 97%, 50%);
}
.th5{
    background-color: hsl(0, 77%, 34%);
}
.th6{
    background-color: hsl(130, 79%, 45%);
}
.th7{
    background-color: hsl(118, 78%, 31%);
}
.th8{
    background-color: hsl(224, 75%, 64%);
}
.th9{
    background-color: rgb(46, 39, 239);
}
.th10{
    background-color: rgb(227, 249, 31);
}
