body{
    margin: 0px;
}
#box1{
    width: 250px;
    height: 250px;
    border: 5px solid black;
    font-size: 12em;
    text-align: center;
    background-color: rgb(87, 253, 87);

    /* transform: translateX(100px); */
    /* transform: translateX(-100px); */
    /* transform: translateX(-100%); */
    /* transform: translateX(100%); */
    /* transform: translateX(-50%); */


    /* transform: translateY(100px); */
    /* transform: translateY(50%); */
    /* transform: translateY(-50%); */


    /* transform: translate(50px, 50px); */
    /* transform: translate(-50px, -50px); */

    

    /* transform: rotateX(45deg); */
    /* transform: rotateX(45deg); */
    /* transform: rotateX(135deg); */
    /* transform: rotateX(180deg); */



    /* transform: rotateY(45deg); */
    /* transform: rotateY(180deg); */
    /* transform: rotateY(45deg); */


    /* transform: rotateZ(45deg); */
    /* transform: rotateZ(90deg); */
    /* transform: rotateZ(135deg); */
    /* transform: rotateZ(180deg); */



    /* transform: scale(1); */
    /* transform: scale(3); */
    /* transform: scale(0.5); */
    /* transform: scale(0.25); */



    /* transform: scaleY(2); */
    /* transform: scaleY(0.5); */
    /* transform: scaleY(0.25); */



    /* transform: scale(2, 2); */
    /* transform: scale(3, 3); */


    /* transform: skewX(45deg); */
    /* transform: skewX(90deg); */
    /* transform: skewX(135deg); */
    /* transform: skewX(180deg); */



    /* transform: skewY(45deg); */
    /* transform: skewY(135deg); */
    /* transform: skewY(180deg); */



    /* transform: skew(0, 0); */


    transform: translateX(100%) rotateZ(90deg) scale(0.5);
    
}