.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: rgb(246, 74, 74);
    /* align-self: start; */
    /* align-self: center; */
    /* align-self: end; */
    /* order: 1; */
    order: -1;
}
#box2{
    background-color: rgb(249, 252, 100);
    /* align-self: end; */
    /* order: 1; */
    /* order: -1; */
}
#box3{
    background-color: rgb(98, 254, 84);
}
#box4{
    background-color: rgb(90, 160, 250);
}
