* {
    box-sizing: border-box;
}
.container{
    background-color: grey;
    height: 100vh;
}
.box{
    background-color: white;
    border: 2px solid;
    /* height: 200px; */
    
    padding: 15px;
    /* box-sizing: border-box; */

    height: auto;
    width: 50%;
    /* width: 200px; */

    float: left;
    text-align: center;

    /* max-width: 25%; */
    /* min-width: 80%; */

    /* max-height: 50%; */
    min-height: 50%;
}