.container{
    display: flex;
    /* flex-direction: row-reverse; */     /* flex-direction: column; or column-reverse; */

    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: rgb(246, 74, 74);
}
#box2{
    background-color: rgb(249, 252, 100);
}
#box3{
    background-color: rgb(98, 254, 84);
}
#box4{
    background-color: rgb(90, 160, 250);
}
