* {
    box-sizing: border-box;
}
.box{
    border: 2px solid;
    /* height: 200px; */
    
    padding: 15px;
    /* box-sizing: border-box; */

    height: auto;
    width: 50%;
    /* width: 200px; */

    float: left;
    text-align: center;

    /* max-width: 25%; */
    /* min-width: 50%; */
    
}