body{
    background-color: #222121;
}
h1{
    color: rgb(193, 34, 199);
}
#p1{
    color: tomato;
}
#p2{
    color: rgb(52, 247, 247);
}
#p3{
    color: #70ff6b;
}
#p4{
    color: hsl(270, 94%, 62%);
}