.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    flex-wrap: wrap;
    align-content: flex-start;
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-evenly; */
    /* align-content: space-between; */
    column-gap: 2em;
    row-gap: 2em;

}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: rgb(246, 74, 74);
}
#box2{
    background-color: rgb(249, 252, 100);
}
#box3{
    background-color: rgb(98, 254, 84);
}
#box4{
    background-color: rgb(90, 160, 250);
}
