.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(127, 249, 127);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: rgb(223, 220, 220);
    border-radius: 5px;
}