body{
    /* margin: 50px; */
    border: 3px solid hsl(344, 86%, 43%);
    display: flow-root;
}
#img1{
    float: left;
    margin-right: 10px;
}
#img2{
    float: right;
    margin-left: 10px;
}
.p1{
    margin-left: 5px;
}
#p2{
    margin-left: 5px;
}
