#box1{
    width: 200px;
    height: 200px;
    background-color: rgb(3, 159, 211);
    position: fixed;
    
    /* right: 0px;
    bottom: 0px; */

    left: 0px;
    bottom: 0px;

    /* margin: 10px; */
}