body{
    margin: 0px;
}
.box{    
    width: 250px;
    height: 250px;
    border: 5px solid black;
    font-size: 12em;
    text-align: center;
    
    transform: translateX(100px) rotateZ(45deg) scale(0.5);
}
#box1{
    background-color: rgb(87, 253, 87);
}
#box2{
    background-color: rgb(253, 87, 104);
}
#box3{
    background-color: rgb(87, 145, 253);
}
