*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: rgb(213, 213, 213);
    text-align: center;
    padding: 25px;
}
.navbar{
    background-color: rgb(99, 99, 99);
    height: 50px;

}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: rgb(213, 213, 213);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}
