div{
    background-color: rgb(248, 57, 57);
    height: 100px;
    width: 100px;
    /* display: block; */
    /* display: inline; */
    /* display: inline-block; */
    /* display: none; */

    display: inline-block;
    visibility: hidden;

    /* display: none;
    visibility: hidden; */


}
span{
    background-color: rgb(96, 96, 253);
    height: 100px;
    width: 100px;
    /* display: block; */
    /* display: inline; */
    /* display: inline-block; */
    /* display: none; */

    display: inline-block;
    visibility: hidden;

    /* display: none;
    visibility: hidden; */


}