.gallery{
    display: inline-block;
    border: 2px solid rgb(130, 130, 130);
    margin: 5px;
    width: 200px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 2px solid rgb(5, 5, 5);
}
.gallery img{
    width: 100%;
    height: auto;
}