body{
    background-color: rgb(62, 62, 62);
}
#box{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 89, 89);
    font-size: 12em;
    text-align: center;
}
/* #box:hover{
    animation-name: glow;
    animation-duration: 2s;
} */


#box:active{
    animation-name: glow;
    animation-duration: 2s;
}



@keyframes glow{
    50%{box-shadow: 0px 0px 50px rgb(255, 255, 66);}
}