body{
    background-color: rgb(62, 62, 62);
}
#box{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 89, 89);
    font-size: 12em;
    text-align: center;
    /* animation-name: slideLeft; */
    /* animation-name: slideRight; */
    /* animation-name: slideUp; */
    animation-name: glow;
    animation-duration: 2s;


 /*این خط زیر با انیمیشن فید این به کار برده می شود. برای اجرای بقیه انیمیشن ها باید این خط را حذف کنی.*/
    /* opacity: 0; */
}



@keyframes slideLeft{
    from{transform: translateX(300%);} /*to, from, 0%, 50%, 100%, 200%, -100%*/

}
@keyframes slideRight{
    to{transform: translateX(300%);} /*to, from, 0%, 50%, 100%, 200%, -100%*/

}
@keyframes slideUp{
    from{transform: translateY(300%);} /*to, from, 0%, 50%, 100%, 200%, -100%*/

}
@keyframes slidedown{
    to{transform: translateY(300%);} /*to, from, 0%, 50%, 100%, 200%, -100%*/

}




@keyframes rotate{
    100%{transform: rotateX(360deg);}

}
@keyframes rotate{
    100%{transform: rotateY(360deg);}

}
@keyframes rotate{
    100%{transform: rotateZ(360deg);}

}
@keyframes rotate{
    50%{transform: rotateZ(360deg);}

}
@keyframes rotate{
    25%{transform: rotateZ(360deg);}

}



@keyframes grow{
    100%{transform: scale(2, 2);}

}
@keyframes grow{
    50%{transform: scale(2, 2);}

}
@keyframes grow{
    25%{transform: scale(2, 2);}

}



@keyframes shrink{
    50%{transform: scale(0.5, o.5);}
}



@keyframes fade{
    50%{opacity: 0;}
}
@keyframes fade{
    100%{opacity: 0;}
}


@keyframes fadeIn{
    100%{opacity: 1;}
}




@keyframes colorChange{
    0%{background-color: rgb(252, 74, 74);}
    20%{background-color: rgb(247, 154, 49);}
    40%{background-color: rgb(231, 254, 81);}
    60%{background-color: rgb(112, 253, 73);}
    80%{background-color: rgb(41, 171, 251);}
    100%{background-color: rgb(136, 75, 251);}
}

@keyframes glow{
    50%{box-shadow: 0px 0px 50px rgb(255, 255, 66);}
}